.App {
  text-align: center;
}

ol {
  margin: 0;
}
.a-white-text {
  line-height: 12px;
  padding-right: 100px;
  padding-right: 36px;
  position: relative;
  color: #fff;
}
.a-logo {
  font-size: 14px;
  text-align: left;
  padding: 10px 0px 0px 40px;
}

ol.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ol.header {
  background-color: #072146;
  padding: 0;
}
ol.header li a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.GSkImd {
  outline: none;
  display: table-cell;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  padding: 16px 0px 14px;
}
.a-focus-li {
  opacity: 1;
  border-bottom: 2px solid #fff;
}

.wide-screen-content {
  max-width: 752px;
  margin: 0 auto;
}
.immersive-container {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.tb-c {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.a-logo {
  width: 100px;
}
.game-block {
  border-bottom: solid 1px #ebebeb;
}
.tb-c {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}
.game-heading {
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #ebebeb;
  background: #f5f5f5;
}
.qJnhT {
  /* border-bottom: 1px solid #ebebeb; */
  background: #f5f5f5;
  padding: 12px 24px 10px;
  text-align: left;
}
